NET "clk"		LOC = "P54" ;	
NET "PWM<0>" 	LOC = "P38";
NET "PWM<1>" 	LOC = "P36";
NET "PWM<2>" 	LOC = "P29";
NET "PWM<3>" 	LOC = "P24";
NET "PWM<4>" 	LOC = "P18";
NET "PWM<5>" 	LOC = "P12";
NET "PWM<6>" 	LOC = "P10";
NET "PWM<7>" 	LOC = "P6";
NET "Pin"		LOC = "P82";
