//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 28 13:57:18 2014
//! **************************************************************************

SCHEMATIC START;
COMP "Hall<2>" LOCATE = SITE "P82" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "Seg<0>" LOCATE = SITE "P25" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "Seg<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "P34" LEVEL 1;
COMP "Seg<2>" LOCATE = SITE "P23" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P4" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "Seg<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "Seg<4>" LOCATE = SITE "P20" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P26" LEVEL 1;
COMP "Seg<5>" LOCATE = SITE "P17" LEVEL 1;
COMP "Seg<6>" LOCATE = SITE "P83" LEVEL 1;
COMP "Seg<7>" LOCATE = SITE "P22" LEVEL 1;
COMP "Clk" LOCATE = SITE "P54" LEVEL 1;
COMP "Hall<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "Hall<1>" LOCATE = SITE "P91" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

